2015/1. Not Quite Lisp/not-quite-lisp.txt
2015/2. I Was Told There Would Be No Math/i-was-told-there-would-be-no-math.txt
2015/3. Perfectly Spherical Houses in a Vacuum/perfectly-spherical-houses-in-a-vacuum.txt
2015/4. The Ideal Stocking Stuffer/the-ideal-stocking-stuffer.txt
2015/5. Doesn't He Have Intern-Elves For This/doesnt-he-have-intern-elves-for-this.txt
2015/6. Probably a Fire Hazard/probably-a-fire-hazard.txt
2015/7. Some Assembly Required/some-assembly-required.txt
2021/1. Sonar Sweep/sonar-sweep.txt
2021/2. Dive/dive.txt
2021/3. Binary Diagnostic/binary-diagnostic.txt
2021/4. Giant Squid/giant-squid.txt
2022/\[-\] Combined Solutions/rucksack-reorganization.txt
2022/\[-\] Combined Solutions/calorie-counting.txt
2022/\[-\] Combined Solutions/camp-cleanup.txt
2022/\[-\] Combined Solutions/rock-paper-scissors.txt
2022/1. Calorie Counting/calorie-counting.txt
2022/2. Rock Paper Scissors/rock-paper-scissors.txt
2022/3. Rucksack Reorganization/rucksack-reorganization.txt
2022/4. Camp Cleanup/camp-cleanup.txt
2022/5. Supply Stacks/supply-stacks.txt
2022/6. Tuning Trouble/tuning-trouble.txt
2022/7. No Space Left On Device/no-space-left-on-device.txt
2022/8. Treetop Tree House/treetop-tree-house.txt
2022/9. Rope Bridge/rope-bridge.txt
2022/10. Cathode-Ray Tube/cathode-ray-tube.txt
2022/11. Monkey in the Middle/monkey-in-the-middle.txt
2022/12. Hill Climbing Algorithm/hill-climbing-algorithm.txt
2022/13. Distress Signal/distress-signal.txt
# vv BELOW IS TEMPORARY vv
2022/\[-\]. Current/current-1.py
2022/\[-\]. Current/current-2.py
2022/\[-\]. Current/current.txt